<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"/>
    <link rel="stylesheet" href="../assert/css/stylesQLK.css" />
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet"/>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <title>Document</title>
</head>
<body> 
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-primary-qlk">
            <div class="container" style="font-size: 20px;"> 
                <a class="navbar-brand" href="#"><img src="../assert/image/logo.png" class="logo-img"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse justify-content-end navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav ">
                        <li class="nav-item">
                            <a class="nav-link" href="#">ÁO</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">QUẦN</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">VÁY</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">ĐẦM</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">SET</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Dropdown</a>
                            <ul class="dropdown-menu">
                              <li><a class="dropdown-item" href="#">Link</a></li>
                              <li><a class="dropdown-item" href="#">Another link</a></li>
                              <li><a class="dropdown-item" href="#">A third link</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">GIỚI THIỆU</a>
                        </li>
                    </ul>
                    <form class="d-flex">
                        <input class="form-control " type="search" placeholder="Search.." aria-label="Search">
                        <button class="btn btn-outline-light" type="submit"><i class="fa fa-search "></i></button>
                    </form>
                    <div class="d-flex">
                        <a href=""><i class="fa fa-user "></i></a>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <main >
        <h1>ABCJDUFBESW</h1>
        <h1>ABCJDUFBESW</h1>
        <h1>ABCJDUFBESW</h1>
        <h1>ABCJDUFBESW</h1>
        <h1>ABCJDUFBESW</h1>
        <h1>ABCJDUFBESW</h1>
        <h1>ABCJDUFBESW</h1>
        <h1>ABCJDUFBESW</h1>
        <h1>ABCJDUFBESW</h1>
    </main>
    <footer id="footer">
        <div class="container" style="font-size: 20px;">
          <div class="row">
            <div class="col-md-4">
              <h5 class="policy-title">CHÍNH SÁCH</h5>
              <div class="policy-information">
                <a href="#">Chính sách bảo mật</a><br />
                <a href="#">Chính sách vận chuyển</a><br />
                <a href="#">Chính sách bảo hành</a><br />
                <a href="#">Điều khoản chung</a>
              </div>
            </div>
            <div class="col-md-4">
              <h5 class="policy-title">VỀ CHÚNG TÔI</h5>
              <div class="policy-information">
                <a href="#">Câu chuyện thương hiệu</a><br />
                <a href="#">Tầm nhìn và giá trị cốt lõi</a><br />
                <a href="#">Lịch sử và phát triển</a><br />
                <a href="#">Mạng lưới và quy mô</a>
              </div>
            </div>
            <div class="col-md-4">
              <h5 class="CustomerCare-title">THÔNG TIN LIÊN HỆ</h5>
              <div class="contact-information">
                <p>CÔNG TY TNHH ONETOFIVE</p>
                <p>Onetofive.vn</p>
                <p>Địa chỉ: Nguyễn Văn Bảo, Phường 4, Gò Vấp</p>
                <p>Hotline: 033xxxxxxx</p>
              </div>
              <h5 class="Community-title">CỘNG ĐỒNG</h5>
              <a href="#" class="Community-icon"
                ><i class="fab fa-facebook"></i
              ></a>
              <a href="#" class="Community-icon"
                ><i class="fab fa-instagram"></i
              ></a>
              <a href="#" class="Community-icon"
                ><i class="fab fa-youtube"></i
              ></a>
              <a href="#" class="Community-icon"
                ><i class="fab fa-tiktok"></i
              ></a>
            </div>
            <div class="col-md-3">
              
            </div>
          </div>
        </div>
      </footer>

                     
</body>