<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"/>
    <link rel="stylesheet" href="../assert/css/styles.css" />
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet"/>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

    <title>Document</title>
  </head>
  <body>
    <header>
      <div id="header">
        <div class="temple">
          <ul class="nav" id="myNav">
            <li><a href="#">ÁO</a></li>
            <li><a href="#">QUẦN</a></li>
            <li><a href="#">VÁY</a></li>
            <li><a href="#">ĐẦM</a></li>
            <li><a href="#">SET</a></li>
            <li class="submenu">
              <a href="#">DANH MỤC</a>
              <ul>
                <li><a href="#">Danh mục con 1</a></li>
                <li><a href="#">Danh mục con 2</a></li>
                <li><a href="#">Danh mục con 3</a></li>
              </ul>
            </li>
            <li><a href="#">GIỚI THIỆU</a></li>
          </ul>
        </div>
        <div class="logo">
          <a href="index.html"
            ><img src="../assert/image/logo.png" class="logo-img"
          /></a>
        </div>
        <div class="icon">
          <div class="user-icon">
            <a href=""><i class="fa-solid fa-user"></i></a>
          </div>
        </div>
        <div class="search">
          <form action="">
            <input
              type="text"
              placeholder="Search.."
              name="search"
              class="search-btn"
            />
            <i class="fa fa-search"></i>
          </form>
        </div>
      </div>
    </header>

    <main style="background-color: white; margin-top: 110px; height: 700px">
      <div class="container">
        <form>
          <div class="row justify-content-center">
            <h1 class="text-center mt-3">Kho</h1>
          </div>
          <div class="row">
            <h2 class="mt-3">Kho</h2>
          </div>
          <table class="table table-striped table-bordered table-hover">
            <thead>
              <tr>
                <th>STT</th>
                <th>Thành phẩm</th>
                <th>Số lượng</th>
                <th>Đơn vị tính</th>
                <th>Ngày</th>
                <th>Ghi chú</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>STT</td>
                <td>Thành phẩm</td>
                <td>Số lượng</td>
                <td>Đơn vị tính</td>
                <td>Ngày</td>
                <td>SGhi chú</td>
                <td><a href="#">Sửa</a></td>
              </tr>
              <tr>
                <td>STT</td>
                <td>Thành phẩm</td>
                <td>Số lượng</td>
                <td>Đơn vị tính</td>
                <td>Ngày</td>
                <td>SGhi chú</td>
                <td><a href="#">Sửa</a></td>
              </tr>
            </tbody>
          </table>
          <div class="row justify-content-end">
          <button class="btn btn-danger mr-2">Hủy</button>
          <button class="btn btn-primary ml-2">Xác nhận</button>
        </div>
        </form>
      </div>
    </main>
    <footer id="footer">
      <div class="policy">
        <h5 class="policy-title">CHÍNH SÁCH</h5>
        <div class="policy-information">
          <a href="">Chính sách bảo mật</a><br />
          <a href="">Chính sách vận chuyển</a><br />
          <a href="">Chính sách bảo hành</a><br />
          <a href="">Điều khoản chung</a>
        </div>
      </div>
      <div class="contact">
        <h5 class="policy-title">VỀ CHÚNG TÔI</h5>
        <div class="policy-information">
          <a href="">Câu chuyện thương hiệu</a><br />
          <a href="">Tầm nhìn và giá trị cốt lõi</a><br />
          <a href="">Lịch sửa phát triển</a><br />
          <a href="">Mạng lưới và quy mô</a>
        </div>
      </div>
      <div class="CustomerCare">
        <h5 class="CustomerCare-title">THÔNG TIN LIÊN HỆ</h5>
        <div class="contact-information">
          <p>CÔNG TY TNHH ONETOFIVE</p>
          <p>Onetofive.vn</p>
          <p>Địa chỉ:Nguyễn văn Bảo, Phường 4, Gò Vấp</p>
          <p>Hotline:033xxxxxxx</p>
        </div>
        <h5 class="Community-title">CỘNG ĐỒNG</h5>
        <a href="" class="Community-icon"
          ><i class="fa-brands fa-facebook"></i
        ></a>
        <a href="" class="Community-icon"
          ><i class="fa-brands fa-square-instagram"></i
        ></a>
        <a href="" class="Community-icon"
          ><i class="fa-brands fa-youtube"></i
        ></a>
        <a href="" class="Community-icon"
          ><i class="fa-brands fa-tiktok"></i
        ></a>
      </div>
    </footer>
  </body>
</html>
